<template>
    <div class="cart">
      <h2>Кошик</h2>
      <ul>
        <li v-for="(item, index) in cart" :key="index">
          <div>
            <span>{{ item.product.item }}</span>
            <span>{{ item.product.price }} грн</span>
          </div>
          <div>
            <span>{{ item.count }}</span>
          </div>
          <button @click="removeFromCart(index)">Видалити</button>
        </li>
      </ul>
      <div class="total-cost">Загальна вартість: {{ sum }} грн</div>
    </div>
  </template>
  
  <script>
  
  export default {
    computed: {
      cart() {
        return this.$store.getters.cart;
      },
      sum() {
        return this.$store.getters.totalCost;
      },
    },
    methods: {
      removeFromCart(index) {
        this.$store.commit('removeFromCart', index);
      },
    },
  };
  </script>
  