<template>
    <router-link :to="'/'">
      back to main
    </router-link>
    <div>
      <h2 v-if="product">
        This is page for product #{{ product.id }}: {{ product.item }}
      </h2>
      <h2 v-else>
        Product not found
      </h2>
      <div>
        <button @click="addToCart(product.id)" class="btn">Add to cart</button>
      </div>
    </div>
  </template>
  
  <script>
  import { useStore } from "vuex";
  import products from '../data/products.js';
  
  export default {
    data: function () {
      return {
        product: null,
      };
    },
    computed: {
      cart: function () {
        return this.$store.state.cart;
      },
    },
    mounted: function () {
      this.product = products.find((item) => {
        return item.id === Number(this.$route.params.id);
      });
    },
    methods: {
      addToCart: function (index) {
        const sproduct = this.product
          this.$store.commit('addToCart', sproduct);
        },
      },
  };
  </script>
  